<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div ui-view="profilenav"></div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div ui-view="dashnav">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ui-view="dashmain"></div>
                </div>
            </div>
        </div>
    </div>
</div>