<ul id="usrdash">
    <li ng-repeat="post in randomObj" >
        <div class="textblock" ng-if="post.type === 'Text'">
            <h1>{{post.title}}</h1>
            <h3>{{post.subject}}</h3>
            <p>{{post.body}}</p>
            <p>Text post</p>
        </div>
        <div class="audioblock" ng-if="post.type === 'Audio'">
            <h1>{{post.title}}</h1>
            <h3>{{post.subject}}</h3>
            <p>{{post.body}}</p>
            <p>Comment post</p>
        </div>
        <div class="imageblock" ng-if="post.type === 'Image'">
            <h1>{{post.title}}</h1>
            <h3>{{post.subject}}</h3>
            <p>{{post.body}}</p>
            <p>Image post</p>
        </div>
        <hr>
    </li>
</ul>