<ul id="usrdash">
    <li ng-repeat="post in postlist">
        <div class="textblock" ng-if="post.content.type === 'Text'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>{{post.content.title}}</h1>
                    <hr>
                    <h5>{{post.content.subject}}</h5>
                </div>
                <div class="panel-body">
                    <p>{{post.content.body}}</p>
                </div>
                <div class="panel-footer">
                    <div class="comments">
                        <div class="commentList">
                            <ul>
                                <li ng-repeat="com in post.comments">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            {{com.owner}}
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {{com.comment}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="glyphicon glyphicon-remove" ng-click=""></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form name="comments" class="form-inline" ng-submit="subComments(post.key)" no-validate>
                                    <label>Comments</label>
                                    <div class="form-group">
                                        <input type="text" name="comment" ng-model="commentPost.comment" placeholder="Write a reply..." />
                                    </div>

                                    <button class="btn btn-default" type="submit" ng-disabled="comments.$invalid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="postAttributes">
                        <div class="row">
                            <div class="col-sm-4">
                                <p>{{notes}} notes</p>
                            </div>
                            <div class="col-sm-4">
                                <p>Source {{post.owner}} </p>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li>Reblog</li>
                                    <li>Like</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="audioblock" ng-if="post.content.type === 'Audio'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>{{post.content.title}}</h1>
                    <hr>
                    <h5>{{post.content.subject}}</h5>
                </div>
                <div class="panel-body">
                    <p>{{post.content.audio}}</p>
                </div>
                <div class="panel-footer">
                    <div class="comments">
                        <div class="commentList">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form name="comments" class="form-inline" ng-submit="subComments(post.key)" no-validate>
                                    <label>Comments</label>
                                    <div class="form-group">
                                        <input type="text" name="comment" ng-model="commentPost.comment" placeholder="Write a reply..." />
                                    </div>

                                    <button class="btn btn-default" type="submit" ng-disabled="comments.$invalid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="postAttributes">
                        <div class="row">
                            <div class="col-sm-4">
                                <p>{{notes}} notes</p>
                            </div>
                            <div class="col-sm-4">
                                <p>Source {{post.owner}} </p>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li>Reblog</li>
                                    <li>Like</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imageblock" ng-if="post.content.type === 'Image'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>{{post.content.title}}</h1>
                    <hr>
                    <h5>{{post.content.subject}}</h5>
                </div>
                <div class="panel-body">
                    <p>{{post.content.image}}</p>
                </div>
                <div class="panel-footer">
                    <div class="comments">
                        <div class="commentList">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form name="comments" class="form-inline" ng-submit="subComments(post.key)" no-validate>
                                    <label>Comments</label>
                                    <div class="form-group">
                                        <input type="text" name="comment" ng-model="commentPost.comment" placeholder="Write a reply..." />
                                    </div>

                                    <button class="btn btn-default" type="submit" ng-disabled="comments.$invalid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="postAttributes">
                        <div class="row">
                            <div class="col-sm-4">
                                <p>{{notes}} notes</p>
                            </div>
                            <div class="col-sm-4">
                                <p>Source {{post.owner}} </p>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li>Reblog</li>
                                    <li>Like</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </li>
</ul>