<div class="container anim-slide-below-fade" data-anim-speed="500" id="login">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 ">
            <div ng-show="RouteChangeError" >
                <h2 style="color:red">{{RouteChangeError}}</h2>
            </div>
            <h1>Login Here </h1>
            <div ng-show="loginError">
                <p>{{loginError}}</p>
            </div>
            <form name="usrlogin"  ng-submit="login.login()" novalidate>
                <div class="form-group" >
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="login.user.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.user.password" required>
                </div>
                <button type="submit" class="btn btn-default" ng-disabled="usrlogin.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
