#usrdash{
    li{
        list-style-type: none;
        width: 50%;
        .textblock{
            background: green;
            @extend %poststyle;
        }
        .audioblock{
            background: red;
            @extend %poststyle;
        }
        .imageblock{
            background: blue;
            @extend %poststyle;
        }
        .postAttributes{
            position: relative;
            .col-sm-4{
                display:flex;
                justify-content: center;
                font-size: 10px;
                ul{
                    display: inline-flex;
                    padding: 0;
                    width: 100%;
                    li{
                        width:inherit;
                        display:flex;
                        justify-content: center;
                        
                    }
                }
            }
        }
        .comments{
            form{
                text-align: center;
            }
            .commentList{
                ul{
                    padding: 0;
                    li{
                        width: 100%;
                        .row{
                            height: 37px;
                            .panel{
                                margin-bottom: 5px;
                                .panel-body{
                                    padding: 5px;
                                }
                            }
                            .col-sm-2{
                                height: inherit;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
        .panel-heading{
            h1,h5{
                text-align: center;
            }
        }
    }
}